<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBxuPawwbkC8LV6ueu3kFP-2Jt2aDPaqHk</string>
	<key>GCM_SENDER_ID</key>
	<string>162550467986</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoFirestore</string>
	<key>PROJECT_ID</key>
	<string>todofirestore-5ca45</string>
	<key>STORAGE_BUCKET</key>
	<string>todofirestore-5ca45.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:162550467986:ios:a1239041bfc2e36fcec54b</string>
</dict>
</plist>